$washed: rgb(106, 133, 253);
$bgcolor: #F5F9FC;
// $bgcolor: #E8EBF6;
$mainColor: #2076F5;
$darkMainColor: rgb(27, 100, 209);
$waf-warning:#FFD708;
$waf-danger: #F5391A;
$purplelike:#4951F2;
$deskBorderColor: rgb(236, 234, 234);


//cards reaction colors
$replyColor: rgb(35, 26, 156);
$upvoteColor: rgba(60, 129, 21, 0.897);
$downvoteColor: rgb(160, 25, 25);