{% for card in cards %}

<div class="media m-0 bg-white shadow-sm deskcard mb-2">
    <i style="color: yellowgreen;" class="p-2 fas fa-user-alt fa-2x"></i>
    <div class="media-body">
        <div class="pl-3 pr-2">
            <div class="pb-0 pt-2">
                <span class="username">{{card.user.first_name}}</span>
                <span class="text-secondary text-info">@{{card.user.username}}</span>
            </div>
            <div class="text-secondary small pb-2">
                {{ card.card_date }}
            </div>
            <p class="text-justify pb-0 pr-2 card-text">{{card.text}}</p>
            <footer class="text-secondary pt-0 mt-0 pb-3">
                <hr>
                <span class="pr-3"><i class="fa fa-retweet text-info"></i> 25 </span>
                <span class="pr-2"><i class="fa fa-heart text-danger"></i> 525 </span>
            </footer>
        </div>
    </div>
</div>

{% endfor %}
