<div class="media mb-2 shadow-sm bg-white rounded">
    <i style="color: pink;" class="p-2 fas fa-atom fa-3x"></i>
    <div class="media-body">
        <h4 class="pt-2 pl-3">Sci-Ladies</h4>
        <div class="text-secondary pl-3">24k members</div>
    </div>
</div>
<div class="media mb-2 shadow-sm bg-white rounded">
    <i style="color: blueviolet;" class="p-2 fas fa-square-root-alt fa-3x"></i>
    <div class="media-body">
        <h4 class="pt-2 pl-3">E - Maths</h4>
        <div class="text-secondary pl-3">74k members</div>
    </div>
</div>
<div class="media mb-2 shadow-sm bg-white rounded">
    <i class="p-2 fas fa-street-view fa-3x"></i>
    <div class="media-body">
        <h4 class="pt-2 pl-3">Meditate Me</h4>
        <div class="text-secondary pl-3">751 members</div>
    </div>
</div>
