{% load static %}

<div class="modal fade" id="wafpost" tabindex="-1" role="dialog" aria-labelledby="wafpostLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header waf-washed">
                <h5 class="modal-title" id="exampleModalLabel">Waf a question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="waf-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <!-- <label for="message-text" class="col-form-label">Message:</label> -->
                        <textarea class="form-control" id="text" name="text"></textarea>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn waf-washed" id="waf">
                            <i class="fa fa-paper-plane"></i>Waf
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="waffing" tabindex="-1" role="dialog" aria-labelledby="waffingTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="{% static '../static/img/waffing.gif' %}" alt="waffing loader" class="img-responsive">
                <span id="msg">Waffing...</span>
            </div>
        </div>
    </div>
</div>
