{% extends '../base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-12 col-md-6 mt-5">
        <div class="shadow rounded p-3 bg-light text-justify">
            <h3 class="text-center pb-2">About Waffle</h3>
            <hr>
            <p class="pt-2">
                Waffle is a social learning platform which seeks to provide a stage for students especially, WAEC
                candidates, to learn and teach anyone around the world. Verified authors can create, upload and sell
                curated video materials,
                provide books or form learning communities on a particular topic where virtual classes can take
                place. There is a social networking platform built into waffle backed by a virtual personal
                assistant. There is more to explore and the future looks exciting
            </p>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>


{% endblock content %}
