{% extends "_base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="mt-5">
    <h3>{% trans "Password Reset" %}</h3>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}We have sent you an e-mail. If you do not receive it within a few
        minutes, you can click {% endblocktrans %} <strong><a
                href="{% url 'account_reset_password' %}">here</a></strong> to try again.

    </p>
</div>
{% endblock %}
