{% extends "_base.html" %}
{% load static %}

{% load i18n %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block css %}
<style>
    .errorlist {
        color: red;
        font-size: small;
    }

</style>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/app/allauth_fix.js' %}"></script>
{% endblock %}

{% block content %}
<div class="mt-5">
    <h3>{% trans "Set Password" %}</h3>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        <div class="form-row" id="frm">
            <div class="text-left form-group">
                {{ form.as_p }}
            </div>
        </div>
        <input type="submit" name="action" value="{% trans 'Set Password' %}" />
    </form>
</div>
{% endblock %}
