{% extends '../base.html' %}


{% block content %}

<div class="row">
    <!-- trending topics -->
    <div class="col-md-3">
        <p>trending</p>
    </div>

    <!-- feeds & ask question -->
    <div class="col-md-3">
        feeds & questions
    </div>

    <!-- communities & explicit ads -->
    <div class="col-md-3">
        communities
    </div>

    <!-- chats & personal assistant -->
    <div class="col-md-3">
        chats & personal assistant
    </div>
</div>

{% endblock content %}
