{% load staticfiles %}


{% block content %}

<div class="kiracard card kirabot">

	<div class="card-header msg_head p-1">
		<div class="d-flex bd-highlight">
			<div class="img_cont">
				<img src="{% static '/img/kira2.png' %}" class="rounded-circle user_img">
			</div>
			<div class="user_info">
				<span>Kira</span>
			</div>
		</div>

	</div>

	<!-- msg list -->
	<ul class="card-body msg_card_body js-chat-log">

		<div class="d-flex mb-4 justify-content-start">
			<div class="img_cont_msg">
				<img src="{% static '/img/kira2.png' %}" class="rounded-circle user_img_msg">
			</div>
			<div class="msg_container">
				Hello {{ user.first_name }}
				<span class="msg_time"> {% now "H:i" %} </span></div>
		</div>

	</ul>

	<div class="card-footer">
		<div class="input-group">
			<textarea name="js-text" type="text" class="form-control js-text"
				placeholder="Type your message..."></textarea>
			<div class="input-group-append">
				<button class="js-say input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
			</div>
		</div>
	</div>
</div>


<script>
	var $chatlog = $( '.js-chat-log' );
	var $input = $( '.js-text' );
	var $sayButton = $( '.js-say' );

	var chatterbotUrl = '{% url "kirabot:kirabotapi" %}';
	var csrftoken = Cookies.get( 'csrftoken' );

	function csrfSafeMethod( method ) {
		// these HTTP methods do not require CSRF protection
		return ( /^(GET|HEAD|OPTIONS|TRACE)$/.test( method ) );
	}

	$.ajaxSetup( {
		beforeSend: function ( xhr, settings ) {
			if ( !csrfSafeMethod( settings.type ) && !this.crossDomain ) {
				xhr.setRequestHeader( "X-CSRFToken", csrftoken );
			}
		}
	} );

	var $chatlog = $( '.js-chat-log' );
	var $input = $( '.js-text' );
	var $sayButton = $( '.js-say' );

	function kiramsg( msg ) {
		let cur_time = new Date().toLocaleTimeString( navigator.language, {
			hour: '2-digit',
			minute: '2-digit'
		} );

		return $( '<div class="d-flex mb-4 justify-content-start">' +
			'<div class="img_cont_msg" >' +
			"<img src='{% static '/img/kira2.png' %}' class='rounded-circle user_img_msg' ></div >" +
			'<div class= "msg_container" > ' +
			msg +
			'<span class="msg_time">' + cur_time + ' </span></div ></div >'
		);
	}

	function usermsg( msg ) {
		let cur_time = new Date().toLocaleTimeString( navigator.language, {
			hour: '2-digit',
			minute: '2-digit'
		} );

		return $( '<div class="d-flex mb-4 justify-content-end">' +
			'<div class="msg_container_send">' +
			msg +
			'<span class="msg_time_send">' + cur_time + '</span></div ><div class="img_cont_msg" >' +
			"<img src= '{% static '/img/Victor.jpg' %}' class='rounded-circle user_img_msg'></div></div>"
		);
	}


	function createRow( text ) {
		$chatlog.append( text );
	}

	function submitInput() {
		var inputData = {
			'text': $input.val()
		}

		// Display the user's input on the web page
		createRow( usermsg( inputData.text ) );

		var $submit = $.ajax( {
			type: 'POST',
			url: chatterbotUrl,
			data: JSON.stringify( inputData ),
			contentType: 'application/json'
		} );

		$submit.done( function ( statement ) {

			createRow( kiramsg( statement.text ) );

			// Clear the input field
			$input.val( '' );

			// Scroll to the bottom of the chat interface
			$chatlog[ 0 ].scrollTop = $chatlog[ 0 ].scrollHeight;
		} );

		$submit.fail( function () {
			createRow( 'sorry, something happened and I could not reach my source :)' );
		} );
	}

	$sayButton.click( function () {
		submitInput();
	} );

	$input.keydown( function ( event ) {
		// Submit the input when the enter button is pressed
		if ( event.keyCode == 13 ) {
			submitInput();
		}
	} );

</script>


{% endblock content %}
