{% load static %}

{% block css %}
<link href="{% static '/css/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">
<link href="{% static '/css/kira.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}

<div class="card kirabot">

	<div class="card-header msg_head p-1">
		<div class="d-flex bd-highlight">
			<div class="img_cont">
				<img src="{% static '/img/kira2.png' %}" class="rounded-circle user_img">
			</div>
			<div class="user_info">
				<span>Kira</span>
			</div>
		</div>

	</div>

	<!-- msg list -->
	<ul class="card-body msg_card_body js-chat-log">

		<div class="d-flex mb-4 justify-content-end">
			<div class="msg_container_send">
				Hello
				<span class="msg_time_send">9:32pm</span></div>
			<div class="img_cont_msg">
				<img src="{% static '/img/Victor.jpg' %}" class="rounded-circle user_img_msg"></div>
		</div>

	</ul>

	<div class="card-footer">
		<div class="input-group">
			<textarea name="js-text" type="text" class="form-control js-text"
				placeholder="Type your message..."></textarea>
			<div class="input-group-append">
				<button class="js-say input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
