_unused_code/
.env/
.idea/
.vscode/

# static folders
staticfiles/
static/books/
static/fonts/
static/img/
static/vids/
static/webfonts/

# 
uploads/

# file formats
*.sqlite3

# secret files
posgre_key.txt
app_info.txt
pwds.txt

waffle/keys.py
waffle/sendGrid.py
waffle/dumpCode.py
waffle/settings.py

