{% extends 'base.html' %}

{% load static %}


{% block title %}
Signup
{% endblock title %}



{% block javascript %}
<script>
    $( "#submitbtn" ).click( function ( e ) {
        e.preventDefault();
        var err = false;

        $( "input" ).each( function () {
            if ( $( this ).val() == "" ) {
                $name = $( this ).attr( 'placeholder' );
                $( ".errorlist" ).append( '<li>' + $name + ' is required!' + '</li>' );
                err = true;
            }
        } );

        if ( err ) {
            $( ".errorlist" ).append( 'correct all errors and try again' );
        } else {
            submitInput();
        }

    } );


    function submitInput() {
        $.ajax( {
            url: "{% url 'signup' %}",
            data: {
                first_name: $( 'input[name="first_name"]' ).val(),
                last_name: $( 'input[name="last_name"]' ).val(),
                email: $( 'input[name="email"]' ).val(),
                username: $( 'input[name="username"]' ).val(),
                password1: $( 'input[name="password1"]' ).val(),
                csrfmiddlewaretoken: $( 'input[name=csrfmiddlewaretoken]' ).val()
            },
            method: 'post',
            dataType: 'json',
            beforeSend: function () {
                $( "#submitbtn" ).text( 'Processing...' );
                $( ".errorlist" ).text( '' );

            },
            success: function ( data ) {
                window.location.href = "{% url 'desk:index' %}";
                // $( "#signup-form" )[ 0 ].reset();
            }

        } ).fail( function ( $xhr ) {
            $( ".errorlist" ).text( $xhr.responseJSON.err );
            $( "#submitbtn" ).text( 'signup' );

        } );
    }

</script>
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-3 col-sm-0">
    </div>

    <div class="col-md-6 col-sm-12">
        <div class="bg-white text-center shadow mt-5 rounded">
            <div>
                <div class="card-body">


                    <div class="waf-text-primary">
                        <h4>sign up</h4>

                        <div class="my-1 errorlist text-danger">

                        </div>

                    </div>

                    <div class="mt-md-2">

                        <form method="POST" id="signup-form" action="{% url 'signup' %}">
                            {% csrf_token %}

                            <div class="form-row px-3">
                                <div class="text-left form-group col-md-6">
                                    <input class="form-control" maxlength="30" type="text" placeholder="first name"
                                        name="first_name" required autofocus>
                                    <small class="form-text text-muted">First Name</small>

                                </div>
                                <div class="text-left form-group col-md-6">
                                    <input class="form-control" maxlength="130" type="text" placeholder="last name"
                                        name="last_name" required>
                                    <small class="form-text text-muted">Last Name</small>

                                </div>
                            </div>

                            <div class="text-left form-row col-md-12">
                                <div class="form-group col-md-6">
                                    <input type="password" name="password1" class="form-control" maxlength="120"
                                        id="pass" placeholder="password" required>
                                    <small class="form-text text-muted">Password</small>

                                </div>
                                <div class="form-group col-md-6">
                                    <input id="username" name="username" placeholder="username" class="form-control"
                                        maxlength="140" type="text" required>
                                    <small class="form-text text-muted">Username</small>
                                </div>
                            </div>
                            <div class="text-left form-group col-md-12">
                                <input id="email" name="email" placeholder="email" class="form-control" maxlength="250"
                                    type="email" required>
                                <small class="form-text text-muted">Email</small>
                            </div>

                            <button type="submit" id="submitbtn" class="px-4 btn waf-btn-prim">
                                signup
                            </button>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-0">
    </div>
</div>

{% endblock content %}
