{% extends 'base.html' %}

{% load static %}


{% block title %}
Signup
{% endblock title %}



{% block javascript %}
<script>
    $( "#submitbtn" ).click( function ( e ) {
        e.preventDefault();
        submitInput();
    } );


    function submitInput() {
        $.ajax( {
            url: "{% url 'signup' %}",
            data: {
                first_name: $( 'input[name="first_name"]' ).val(),
                last_name: $( 'input[name="last_name"]' ).val(),
                email: $( 'input[name="email"]' ).val(),
                username: $( 'input[name="username"]' ).val(),
                password1: $( 'input[name="password1"]' ).val(),
                password2: $( 'input[name="password2"]' ).val(),
                csrfmiddlewaretoken: $( 'input[name=csrfmiddlewaretoken]' ).val()
            },
            method: 'post',
            dataType: 'json',
            beforeSend: function () {
                $( "#submitbtn" ).text( 'Processing...' );
                $( ".errorlist" ).text( '' );

            },
            success: function ( data ) {
                window.location.href = "{% url 'profile' user.username %}";
            }

        } ).fail( function ( $xhr ) {
            $( ".errorlist" ).text( $xhr.responseJSON.err );
            $( "#submitbtn" ).text( 'signup' );

        } );
    }

</script>
{% endblock %}





{% block content %}

<div class="row">
    <div class="col-md-3 col-sm-0">
    </div>

    <div class="col-md-6 col-sm-12">
        <div class="bg-white text-center shadow mt-5 rounded">
            <div>
                <div class="card-body">


                    <div class="waf-text-primary">
                        <h4>sign up</h4>

                        <div class="my-1 errorlist text-danger">

                        </div>

                    </div>

                    <div class="mt-md-5">

                        <form method="POST" action="{% url 'signup' %}">
                            {% csrf_token %}

                            <div class="form-row px-3">
                                <div class="form-group col-md-6">
                                    <input class="form-control" type="text" placeholder="first name" name="first_name"
                                        required autofocus>
                                </div>
                                <div class="form-group col-md-6">
                                    <input class="form-control" type="text" placeholder="last name" name="last_name"
                                        required>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <input id="email" name="email" placeholder="email" class="form-control" type="email"
                                    required>
                            </div>
                            <div class="form-group col-md-12">
                                <input id="username" name="username" placeholder="username" class="form-control"
                                    type="text" required>
                            </div>
                            <div class="form-group col-md-12">
                                <input type="password" name="password1" class="form-control" id="pass"
                                    placeholder="password" required>
                            </div>
                            <div class="form-group col-md-12">
                                <input type="password" name="password2" class="form-control" id="confirm_password"
                                    placeholder="confirm password" required>
                            </div>


                            <button type="submit" id="submitbtn" class="px-4 btn waf-btn-prim">
                                signup
                            </button>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-0">
    </div>

</div>

{% endblock content %}
