<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>email confirmation</title>
    </head>

    <body>
        <main>
            <p>
                {% load account %}{% user_display user as user_display %}{% load i18n %}{% autoescape off %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Hello
                from {{ site_name }}!

                You're receiving this e-mail because username <strong>'{{ user_display }}'</strong> has given yours as
                an e-mail address to
                connect
                their
                account.

                To confirm this is correct, go to {{ activate_url }}
                {% endblocktrans %}
                {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Thank you from
                {{ site_name }}!
                {{ site_domain }}{% endblocktrans %}
                {% endautoescape %}

            </p>
        </main>
    </body>

</html>
