@import 'scss/colors';
@import 'scss/components';
@import 'scss/login';
@import 'scss/cards';
@import 'scss/profile';
@import 'scss/loader';
@import 'scss/about';


body {
    background-color: $bgcolor;
}

#mainnav {
    background-color: $bgcolor;
}

.avatar {

    &:hover {
        cursor: pointer;

    }
}


.authbtn {
    border-radius: 0px;
    border: 0px;

}


.keypoints {
    /* background-color: var(--washed); */
    padding-top: 5px;
    border-radius: 5px;
    border: 0px;
    /* color:white; */
}

#dreamworld {
    max-width: 80%;
    max-height: 90%;
    position: fixed;
    padding-right: 20px;
}


.username {
    font-size: 19px;
    font-weight: bold;
}