{% extends '../base.html' %}
{% load static %}
{% block title %}
Waffle
{% endblock %}


{% block javascript %}
<script src="{% static 'js/desk.js' %}">
</script>
{% endblock %}


{% block content %}


<div class="row pt-2">
    <section class="col-md-3 col-12">
    </section>

    <!-- feeds & question -->
    <section class="col-md-6 col-12">
        <div data-toggle="modal" data-target="#wafpost" class="text-secondary  bg-white p-4 rounded">
            <span>educate the world, ask her a question or promote a talent</span>
            <button class="btn btn-primary  ml-2">Go on</button>
        </div>

        <div id="errors"></div>

        {% include 'desk/partials/waf.html' %}

        <!-- <div id="banner"></div> -->
        <hr>

        <div id="desk-detail">
            <div class="lds-ring d-none">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            {% include 'desk/partials/card_detail.html' %}
        </div>


        <div id="deskcards" class="pb-3">
            {% include 'desk/partials/cards.html' %}
        </div>

    </section>

    <section class="col-md-3 col-12 wings">
    </section>

</div>

{% endblock content %}
