{% extends '../base.html' %}

{% block title %}
- desk
{% endblock %}


{% block content %}

<!-- Kira -->
<div>
    {% include '../kirabot/kira2.html' %}
    <span class="kiratext small">Hi, am Kira. Ask me anything!</span>
    <article class="kira">
    </article>
</div>


<div class="row pt-2">
    <!-- trending topics -->
    <section class="col-md-3 col-12">
        {% include 'desk/partials/trends.html' %}
    </section>

    <!-- feeds & question -->
    <section class="col-md-6 col-12">
        <p>
            <span style="color: rgb(245, 151, 88);" class="fa fa-question fa-3x"></span>
            Got a question to ask the world?
            <button type="button" class="btn waf-washed btn-sm" data-toggle="modal" data-target="#wafpost">waf a
                question </button>
        </p>
        <div id="errors"></div>

        {% include 'desk/partials/waf.html' %}

        <!-- <div id="banner"></div> -->
        <hr>

        <div id="cards">
            {% include 'desk/partials/cards.html' %}
        </div>

    </section>

    <!-- communities & explicit ads -->
    <section class="col-md-3 col-12">

        <h5 class="text-secondary">Your Communities</h5>
        <div class="bg-white communities shadow-sm">
            {% include 'desk/partials/communities.html' %}
        </div>
        <p class="text-secondary">Find more communities <a href="#">here</a></p>

        <hr>

        <h5 class="text-secondary">Recommended & Ads</h5>
        <div class="bg-white communities shadow-sm">
            {% include 'desk/partials/sponsoredcomms.html' %}
        </div>

        <hr>
        <p class="small">&copy; 2019 Waffle. All rights reserved</p>
    </section>

</div>

{% endblock content %}
