{% load static %}


<!Doctype html>
<html lang="en">

  <head>

    <link href="{% static '/css/styles.css' %}" rel="stylesheet">
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/all.min.css' %}" rel="stylesheet">



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Nara Victor & Zoyaar Winifred">
    <meta name="description" content="social learning platform to share knowledge">
    <link href="{% static '/img/logo.png' %}" type="image/jpg" rel="shortcut icon">

    <title>waffle</title>

  </head>

  <body>

    <!-- Navigation -->
    {% include 'nav.html' %}

    <div class="container mt-5">
      {% block content %}

      {% endblock content %}
    </div>

    <!-- footer -->
    <footer>

    </footer>


    <!-- core scripts -->
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>


    <!-- extra scripts -->


  </body>

</html>
