        <!-- COMMUNITIES -->
        <!-- ------------------------------------------------------------------------------ -->
        <!-- <h5 class="text-secondary">Your Communities</h5>
        <div class="bg-white communities shadow-sm">
            {% include 'desk/partials/communities.html' %}
        </div>
        <p class="text-secondary">Find more communities <a href="#">here</a></p>

        <hr>

        <h5 class="text-secondary">Recommended & Ads</h5>
        <div class="bg-white communities shadow-sm">
            {% include 'desk/partials/sponsoredcomms.html' %}
        </div> -->

        <!-- <hr>
        <p class="small">&copy; 2019 Waffle. All rights reserved</p> -->


        <!-- GOT A QUESTION TO ASK THE WORLD?
        --------------------------------------------------------------------------------------
        -->
        <!-- <textarea data-toggle="modal" data-target="#wafpost"
            placeholder="educate the world, ask her a question or promote a talent" class="form-control shadow-sm">
        </textarea> -->
        <!-- <p>
            <span style="color: rgb(245, 151, 88);" class="fa fa-question fa-3x"></span>
            Got a question to ask the world?
            <button type="button" class="btn waf-washed btn-sm" data-toggle="modal" data-target="#wafpost">waf a
                question </button>
        </p> -->


        <!-- NAV BAR
        --------------------------------------------------------------------------------------
        -->
        <!--<a class="dropdown-item" href="#">Subscriptions</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Communities</a> -->

        <!-- SEARCH BAR -->
        <!-- <form class="navbar-form p-0" role="search">
            <input type="text" class="shadow-sm mt-1 srchbox form-control" placeholder="search" name="q">
        </form> -->



        <!-- SIGNUP
        --------------------------------------------------------------------------------------
        -->
        <!-- <div class="form-row px-3">
                                <div class="form-group col-md-6">
                                    <input class="form-control" type="text" placeholder="birthdate" name="birthdate"
                                        required>
                                    <span class="small text-left">birthdate</span>
                                </div>
                                <div class="form-group col-md-6">
                                    <select name="gender" class="form-control select-dropdown" required>
                                        <option disabled="disabled" selected="selected">gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div> -->
