@import 'colors';

// buttons

// %prim-button-com {
//     background-color: $mainColor;
//     color: white;
// } inheritance

@mixin buttonColors($backgroundColor) {
    background-color: $backgroundColor;
    color: white;

}


.waf-btn-prim {
    @include buttonColors($mainColor);
    box-shadow: 0px 3px 5px #b9b9b9;

    &:hover {
        @include buttonColors($darkMainColor);
        box-shadow: 0px 5px 6px #b9b9b9;

    }
}



// texts

.waf-text-primary {
    color: $mainColor;
}


.card-text {
    font-size: 20px;
}


#wraptext>h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.8rem;
}


.waf-washed {
    // bakground-color: colors.$washed;
    color: white;
}