{% extends '_base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<!-- <style>
  #mainnav {
    background-color: rgba(255, 102, 0, 0);
  } 

</style> -->

<div class="row">
  <div class="col-md-6">

    <div class="pt-5">

      <div id="wraptext" class="pb-2">
        <h2>
          the possibilities
          are <br> <span class="keypoints">limitless!</span>
        </h2>

        <p class="text-secondary">create your dream learning community, <br>environment and
          experience.
          <a href="{% url 'about:index' %}">Learn more</a>
        </p>
      </div>

      <h2>REMEMBER TO LEAVE ABOUT PAGE ON DESK</h2>

      <div class="alert-info">
        <p class="p-3">
          This is a public test version up till <strong>January 25, 2020</strong>
          We encourage you to leave your feedbacks using our contact <a href="{% url 'contact' %}">form.</a>
          <br> This would enable us build you a better product.
          All data would be erased after the above date (unless you guys say otherwise 😊)
        </p>
      </div>
      <!-- <a href="{% url 'library:index' %}" class="btn waf-btn-prim">explore library</a> -->

      {% if user.is_authenticated %}
      <a href="{% url 'desks:index' %}" class="btn btn-success">desk</a>

      {% else %}
      <a href="{% url 'account_login' %}" class="btn waf-btn-prim">Login</a>
      <p>Don't have an account? <a href="{% url 'account_signup' %}">Signup</a> </p>

      <!-- 
      <p class="text-secondary pt-5">these were handpicked just for you...</p>

      <hr>

      <div class="row" id="sample">
        {% include 'landing/sample.html' %}
      </div> -->

      {% endif %}
    </div>

  </div>

  <div class="col-md-6">
    <img src="{% static '../static/img/landing.png' %}" class="img-responsive" id="dreamworld"
      alt="your dream learning world">
  </div>
</div>


{% endblock content %}
