{% load static %}


{% block javascript %}
<script>
    function load_detail( magic ) {
        window.scrollTo( 0, 0 );

        $.ajax( {
            type: 'GET',
            url: "{% url 'desks:detail' %}",
            dataType: 'json',
            data: {
                'magic': magic,
            },
            beforeSend: function () {
                $( ".lds-ring" ).toggleClass( 'd-none' );
                $( "#desk-detail" ).html( '' );
            },
            success: function ( d ) {
                $( ".lds-ring" ).toggleClass( 'd-none' );
                $( "#desk-detail" ).html( d.html );
            },
            error: function ( xhr, errmsg, err ) {
                console.log( 'error' );
                $( ".lds-ring" ).removeClass( 'd-none' );

            },
        } );
    }

</script>
{% endblock %}


{% for card in cards %}

<div class="media m-0 deskcard py-3">
    <input type="hidden" id="{{card.id}}vote" value="{{vote}}">

    <img src="{% static '../static/img/Victor.jpg' %}" class="ml-2 rounded-circle z-depth-0 mt-1" alt="avatar image"
        height="30">
    <div class="media-body">

        <div class="pl-3 pr-2">
            <div class="py-2">
                <span class="username">{{card.user.first_name}}</span>
                <div>
                    <span class="text-muted">@{{card.user.username}} ~ </span>
                    <small class="text-muted"> {{ card.card_date|date:'D d, M' }}</small>
                </div>
            </div>

            <div class="card-menu" data-magic="{{card.id}}">
                <p class="py-2 card-text">{{card.text}}</p>
            </div>

            <footer>
                <hr>
                <div class="reactions" data-magic="{{card.id}}">
                    <span class="pr-5 mr-2 text-muted"><i class="reply-count fa fa-reply"></i>
                        <span class="pl-1 cards-count" id="{{card.id}}count">{{replycount}}</span>
                    </span>
                    <!-- <span class="pr-5 mr-3 text-muted"><i class="upvotes fas fa-arrow-up"></i>
                        <span class="pl-1 cards-upvote" id="{{card.id}}upvote">
                            {{upvotes}}
                        </span>
                    </span>
                    <span class="text-muted">
                        <i class="downvotes fas fa-arrow-down"></i>
                        <span class="pl-1 cards-downvote" id="{{card.id}}downvote">
                            {{downvotes}}
                        </span>
                    </span> -->
                </div>
            </footer>
        </div>
    </div>
</div>

{% endfor %}

<p class="text-muted text-center pt-4">Looks like you've reached the end</p>
