{% load static %}

<div class="modal fade" id="wafpost" tabindex="-1" role="dialog" aria-labelledby="wafpostLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title text-secondary" id="exampleModalLabel">change the world!</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="waf-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <!-- <label for="message-text" class="col-form-label">Message:</label> -->
                        <textarea rows="6" class="form-control" id="waf_text" placeholder="educate, ask or promote a talent"
                            name="waf_text" maxlength="500"></textarea>
                    </div>

                    <div class="waf-info text-primary">
                    </div>
                    <span id="waf-error" class="text-danger"></span>

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary" id="waf">
                            <i class="fa fa-paper-plane"></i> Waf
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="waffing" tabindex="-1" role="dialog" aria-labelledby="waffingTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <!-- <span id="msg">Waffing...</span> -->
            </div>
        </div>
    </div>
</div>
