// video cards
@import 'colors';

.cardsize {
    width: 12rem;
    height: 14rem;
}

.videocard:hover {
    text-decoration: none;
}

.card-img {
    width: 11.9rem;
    height: 9rem;
}


// desk cards

.deskcard {
    border-radius: 0px;
    border: 0.05px solid $deskBorderColor;
    border-bottom: 0px;

    &:hover {
        background-color: #f8f8f8;
        // cursor: pointer;
    }
}

%shared-overflow {
    overflow-wrap: break-word;
    overflow-x: auto;
    max-width: 450px;
}

.card-text {
    font-size: 17px;
    color: #333;
    @extend %shared-overflow;

    &:hover {
        color: black;
    }
}


.reply-text {
    background-color: rgb(233, 232, 232);
    color: black;
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
    @extend %shared-overflow;

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 400px) {

    .card-text,
    .reply-text {
        max-width: 250px !important;
    }
}


@media (max-width: 320px) {

    .card-text,
    .reply-text {
        max-width: 200px !important;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 400px) {

    .card-text,
    .reply-text {
        max-width: 300px !important;
    }
}

@media (min-width: 440px) {

    .reply-text {
        max-width: 350px !important;
    }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    .card-text,
    .reply-text {
        max-width: 270px !important;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

    .card-text,
    .reply-text {
        max-width: 380px !important;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

    .card-text,
    .reply-text {
        max-width: 450px !important;
    }
}


.card-user-pic {
    border: 1px solid $mainColor;
}


.card-menu {
    &:hover {
        color: $mainColor;
        cursor: pointer;
    }
}


%reply-roundness {
    border-radius: 20px;
    background-color: $bgcolor;
}

#replybtn {
    @extend %reply-roundness;
}

#reply {
    @extend %reply-roundness;
    display: block;
    overflow: hidden;
    resize: none;
}

#reply-form {
    width: 85%;
}

.summary {
    background-color: #eeeeee;
}


#desk-card-detail {
    border: 0.05px solid $deskBorderColor;
}

#detail-back {

    & :hover {
        cursor: pointer;
    }
}

// %reaction-roundness {
//     border-radius: 100%;
//     color: white;
//     padding: 6px;
//     cursor: pointer;
// }


@mixin reaction($type) {
    border-radius: 100%;
    color: white;
    padding: 6px;
    cursor: pointer;

    @if $type==upvote {
        background-color: $upvoteColor;
    }

    @else if $type==downvote {
        background-color: $downvoteColor;
    }

    @else if $type==reply {
        background-color: $replyColor;
    }
}


//reactions hover
.reply-count {

    &:hover {
        @include reaction(reply);
    }
}

.upvotes {
    &:hover {
        @include reaction(upvote);

    }
}

.downvotes {
    &:hover {
        @include reaction(downvote);
    }
}


//vote cast
.upvote-cast {
    color: $upvoteColor;
}

.downvote-cast {
    color: $downvoteColor;
}